/* Extra CSS for the homepage */
.homepage #content {
    margin-right: 0px;
	color: #202020;
	font-size: large;
}

.homepage #content .intro {
	font-size: 20px;
}

.homepage #content hr {
	color: orange;
	background-color: orange;
	height: 2px;
	border:0;
	width: 66%;
}

.homepage #content .releases {
	clear: both;
}

.homepage #content .releases img {
	max-height: 150px;
	max-width: 150px;
	vertical-align: middle;
}

#blog-feed {
    float: right;
    width: 25%;
    height: auto;
}

#blog-feed ul {
	list-style-type: none;
	list-style-image: none;
	padding: 0;
}

#blog-feed ul li {
	padding: 3px;
	font-size: 12px;
}

#blog-feed ul li a {
	font-size: 15px;
}

#blog-feed h2 {
	font-size: 18px;
}

#blog-feed .date {
	color: gray;
}
